* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Menlo", sans-serif;
}

button {
  font-size: 0.7rem;
  cursor: pointer;
  color: #eee;
  background: linear-gradient(#2f2f2f, #5f5f5f);
  padding: 0.25rem 0.5rem;
}
.App {
  padding: 1em;
  height: 100vh;
  font-size: 16px;
  background: #eee;
}

.theme-btn {
  border-radius: 4px;
  border: none;
}

.add-item {
  margin-top: 0.8rem;
  display: flex;
  width: 80%;
}

.add-item--input {
  border-radius: 4px;
  border: 2px solid #444;
  background: #ccc;
  color: #444;
  padding: 0.25rem 0.5rem;
  margin-right: 0.4rem;
  font-size: 0.8rem;
  flex-grow: 2;
}

.add-item--btn {
  border: none;

  border-radius: 4px;
  flex-grow: 1;
}

.total {
  margin-top: 0.8rem;
  font-size: 0.75rem;
  color: #555;
}

.item-list {
  margin-top: 0.8rem;
}

.item {
  margin-top: 0.6rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#bfbfbf, #cfcfcf);
  color: #333;
  padding: 0.6rem 0.8rem;
  font-size: 0.85rem;
  width: 80%;
}

.item--remove {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
}

.icon {
  height: 16px;
  width: 16px;
}

.App.dark {
  background: linear-gradient(#111, #222);
}

.item.dark {
  background: linear-gradient(#222, #333);
  color: #efefef;
}

.total.dark {
  color: #999;
}

button.dark {
  background: linear-gradient(#eee, #aaa);
  color: #111;
  font-weight: 900;
}
